* { box-sizing: border-box;
  margin: 0; padding: 0;}

  #top {
    background-color: #44C8C8;
    width: 100%;
  }

  #top a {
    color: #E50B00;
    font-size: 2em;
    text-decoration: none;
  }
  #down {
    background-color: #44C8C8;
    width: 100%;
    height: 5%;
  }

  .col33 {
  width:33%;
  float:left;
  border: thin solid black;
  background-color: #BFF7DF
  }


  .columna {
  width:50%;
  float:left;
  border: thin solid black;
  }

  #right {
    width: 50%;
    float: right;
    background-color: #44C8C8;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #555;
    color: white;
  }



  @media only screen and (max-width: 600px) {
    #top, #columna, #down, .columna, #right, #video {
      width: 100%;
    }

    img {border-radius: 50%;}

    body { background-color: lightblue;}
  }
